<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="myApp">
        <h2>Formulario de Registros</h2>
        <div>
            <label for="idNombre">Nombre: </label>
            <input v-model="nombre" id="idNombre" type="text">
            <br><br>
            <label for="idApellido">Apellido: </label>
            <input v-model="apellido" id="idApellido" type="text">
            <br><br>
            <label for="idHobby">Hobby: </label>
            <input v-model="hobby" id="idHobby" type="text">
            <br><br>
            <label for="lugarNacimiento">Lugar de Nacimiento: </label>
            <input v-model="lugarNacimiento" id="lugarNacimiento" type="text">
            <br><br>
            <button v-on:click="guardarDatos">Guardar Registro</button>
        </div>
        <hr>
        <ul>
            <label for="">Registro de Datos</label>
            <li v-for="dato in datos">
                {{dato.nombre}} - {{dato.apellido}} - {{dato.hobby}} - {{dato.lugarNacimiento}}
            </li>
        </ul>
    </div>
    <script src="../js/formulario.js"></script>
</body>
</html>